{% extends 'base.html.twig' %}

{% block title %}A propos{% endblock %}

{% block body %}
<section class="container py-5" style="background: no-repeat url('img/cait.jpg')">
    <div class="row">
        <div class="col-12 col-md-7 my-5">
            <blockquote class="blockquote my-5">
                <p class="h3 text-white my-5">
                    {{ artiste.aPropos }}
                </p>
                <footer class="blockquote-footer text-white-50 pb-3">
                    {{ artiste.prenom }} {{ artiste.nom }}
                </footer>
            </blockquote>
        </div>
    </div>
</section>
{% endblock %}
