<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
            Connexion
        {% endblock %}
    </title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body>
    {% block body %}
    <div class="container d-flex align-items-center" style="height: 90vh;">
        <form method="post" style="width: 40vh;">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
    
            {% if app.user %}
                <div class="mb-3">
                    You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Se déconnecter</a>
                </div>
            {% endif %}
    
            <h1 class="h3 mb-3 my-2 font-weight-normal">Administration du site</h1>
            
            <div class="my-2">
                <label for="inputEmail">Email</label>
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
            </div>
            <div class="my-2">
                <label for="inputPassword">Mot de passe</label>
                <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
            </div>
    
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
    
            <button class="btn btn-primary my-2 px-4 py-2" type="submit">
                Se connecter
            </button>
        </form>
    </div>
    {% endblock %}
</body>
</html>
