<section>
    <div class="container">
        <h2 class="mx-1 my-3">Les dernières actualités</h2>
        <div class="d-flex justify-content-center">
            {% for blogpost in blogposts %}
                <div class="card mx-1">
                    <a href="{{ path('actualites_detail', {'slug': blogpost.slug}) }}" class="card-body text-decoration-none text-dark">
                        <h5 class="card-title">{{ blogpost.titre }}</h5>
                        <p class="card-text">
                            {{ blogpost.contenu|u.truncate(150, '...', false) }}
                        </p>
                        <p class="card-text"><small class="text-muted">
                            Ajoutée le {{ blogpost.createdAt|date('d/m/Y') }}
                        </small></p>
                    </a>
                </div>
            {% endfor %}
        </div>  
    </div>
</section>