{<section>
    {% for oeuvre in oeuvres %}
        <div class="container py-4 my-4">
            <div class="card mb-3 mx-5">
                <a href="{{ path('realisations_details', {'slug': oeuvre.slug}) }}">
                    <img src="{{ vich_uploader_asset(oeuvre, 'imageFile') }}" class="card-img-top" alt="{{ oeuvre.nom }}">
                </a>
                <div class="card-body">
                    <h5 class="card-title">{{ oeuvre.nom }}</h5>
                    <p class="card-text">
                        {{ oeuvre.description|u.truncate(200, '...', false) }}
                    </p>
                    <p class="card-text"><small class="text-muted">
                        Ajoutée le {{ oeuvre.createdAt|date('d/m/Y') }}
                    </small></p>
                </div>
            </div>
        </div>
    {% endfor %}
</section>