<header>
    <div class="container py-4 my-4">
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-8 text-center">
                <h1>Blog Symfony</h1>

                <p>Ceci est un blog de Monsieur Jenesaisqui</p>

                <a href="{{ path('portfolio') }}" class="btn btn-primary">
                    Découvrir mon portfolio
                </a>
                {# <a href="{{ path('portfolio') }}" class="btn btn-primary">
                    Découvrir mon portfolio
                </a> #}
            </div>
        </div> <!-- .row -->
    </div> <!-- .container -->
</header>