{% extends 'base.html.twig' %}

{% block title %}Realisations détails!{% endblock %}

{% block body %}
<section>
    <div class="container py-4 my-4">
        <div class="card mb-3 mx-5">
            <img src="{{ vich_uploader_asset(oeuvre, 'imageFile') }}" class="card-img-top" alt="{{ oeuvre.nom }}">
            <div class="card-body">
                <h5 class="card-title">{{ oeuvre.nom }}</h5>
                {% for categorie in oeuvre.categorie %}
                    <span class="badge bg-secondary">{{ categorie.nom }}</span>
                {% endfor %}
                <p class="card-text">
                    {{ oeuvre.description }}
                </p>
                <p class="d-flex text-uppercase">
                    <span class="card-text">Largeur</span> 
                    <span class="ms-auto">{{ oeuvre.largeur }} cm</span>
                </p>
                <p class="d-flex text-uppercase">
                    <span class="card-text">Hauteur</span> 
                    <span class="ms-auto">{{ oeuvre.hauteur }} cm</span>
                </p>
                {% if oeuvre.enVente %}
                    <p class="d-flex text-uppercase">
                        <strong>Disponible à la vente</strong>
                        <span class="ms-auto">{{ oeuvre.prix }} €</span>
                    </p>
                {% endif %}
                <p class="card-text"><small class="text-muted">
                    Ajoutée le {{ oeuvre.createdAt|date('d/m/Y') }}
                </small></p>
            </div>
        </div>   
    </div>
    {% include "commentaire/form.html.twig" %}
    {% include "commentaire/commentaires.html.twig" %}
</section>
{% endblock %}
