{% extends 'base.html.twig' %}

{% block title %}Hello oeuvreController!{% endblock %}

{% block body %}
<section>
    <div class="container py-4 my-4">
        {% for oeuvre in oeuvres %}
            <div class="card mb-3 mx-5">
                <a href="{{ path('realisations_details', {'slug': oeuvre.slug}) }}">
                    <img src="{{ vich_uploader_asset(oeuvre, 'imageFile') }}" class="card-img-top" alt="{{ oeuvre.nom }}">
                </a>
                <div class="card-body">
                    <h5 class="card-title">{{ oeuvre.nom }}</h5>
                    <p class="card-text">
                        {{ oeuvre.description|u.truncate(200, '...', false) }}
                    </p>
                    <p class="card-text"><small class="text-muted">
                        Ajoutée le {{ oeuvre.createdAt|date('d/m/Y') }}
                    </small></p>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="d-flex justify-content-center">
        {% do oeuvres.setPageRange(2) %}
        {{ knp_pagination_render(oeuvres, 'base/pagination.html.twig') }}
    </div>
</section>
{% endblock %}
