<footer class="py-4 mt-4 text-center bg-light">
    <div class="container">
        <div class="row align-items-center">
            <div class="col">
                <a class="text-decoration-none text-dark" href="{{ path('a_propos') }}">
                    À propos
                </a>
            </div>
            <div class="col">
                <a class="text-decoration-none text-dark" href="{{ path('realisations') }}">
                    Réalisations
                </a>
            </div>
            <div class="col">
                <a class="text-decoration-none text-dark" href="{{ path('portfolio') }}">
                    Portfolio
                </a>
            </div>
        </div>
    </div>
</footer>