<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="{{ path('home') }}">LOGO</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ path('home') }}">Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('realisations') }}">Réalisations</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('actualites') }}">Actualités</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="{{ path('portfolio') }}" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Portfolio
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {% for categorie in categorieNavbar() %}
                        <li><a class="dropdown-item" href="{{ path('portfolio_categorie', {'slug': categorie.slug}) }}">{{ categorie.nom }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('a_propos') }}">À propos</a>
                </li>
            </ul>
        </div>
        {# btn contact #}
        <a class="btn btn-primary py-1 px-2" href="{{ path('contact') }}">Contact</a>
    </div>
</nav>