{% extends 'base.html.twig' %}

{% block title %}Catégorie{% endblock %}

{% block body %}

{% set img = categorie.oeuvres|last %}
<section class="pt-2 pt-md-14 pb-2 pb-md-5 bg-gray-900">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-5 col-md-3 col-lg-7 text-center">
                <h1 class="display-2f w-bold">
                    {{ categorie.nom }}
                </h1>
                <p class="lead text-75 mb-4">
                    {{ categorie.description }}
                </p>
            </div>
        </div>
    </div>
</section>

<section class="py-5 py-md-4 mt-5 mt-md-4">
    <div class="container">
        <div class="row">
            {% for oeuvre in oeuvres %}
                <div class="col-5 col-md-4">
                    <a class="card mb-5" href="#">
                        <div class="card-zoom">
                            <img class="card-img" src="{{ vich_uploader_asset(oeuvre, 'imageFile') }}" alt="..">
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}
