{% extends 'base.html.twig' %}

{% block title %}Portfolio{% endblock %}

{% block body %}
<section class="pt-2 pt-md-14 pb-2 pb-md-5 bg-gray-900 container">
    <div class="row justify-content-center">
        <div class="col-5 col-md-3 col-lg-7 text-center">
            <h1 class="mt-5 display-2">
                Portfolio
            </h1>
        </div>
    </div>
</section>

<section class="py-5 py-md-4 mt-5 mt-md-4">
    <div class="container">
        <div class="row">
            {% for categorie in categories %}
                {% set oeuvre = categorie.oeuvres|last %}
                <div class="col-5 col-md-4 ux">
                    <a class="text-decoration-none text-dark card shadow-light-lg mb-5" href="{{ path('portfolio_categorie', {'slug': categorie.slug}) }}">
                        <img class="card-img-top" src="{{ vich_uploader_asset(oeuvre, 'imageFile') }}" alt="...">
                        <div class="card-body">
                            <h4 class="mb-0">{{ categorie.nom }}</h4>
                            <small>{{ categorie.description }}</small>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}
