{% extends 'base.html.twig' %}

{% block title %}Hello BlogpostController!{% endblock %}

{% block body %}
<section>
    <div class="container">
        <h1 class="my-3">Les dernières actualités du site</h1>
        <div class="py-4 my-1">
            {% for blogpost in blogposts %}
                <div class="card mb-3 mx-1 md-mx-3">
                    <div class="card-body">
                        <a class="text-dark text-decoration-none my-auto" href="{{ path('actualites_detail', {'slug': blogpost.slug}) }}">
                            <h3 class="card-title">{{ blogpost.titre }}</h3>
                            <p class="card-text">
                                {{ blogpost.contenu|u.truncate(200, '...', false) }}
                            </p>
                        </a>
                        {# <hr class="card-meta-divider"> #}
                        <p class="card-text mt-3"><small class="text-muted">
                            Ajoutée le {{ blogpost.createdAt|date('d/m/Y') }}
                        </small></p>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="d-flex justify-content-center">
            {% do blogposts.setPageRange(2) %}
            {{ knp_pagination_render(blogposts, 'base/pagination.html.twig') }}
        </div>
    </div>
</section>
{% endblock %}
