{% extends 'base.html.twig' %}

{% block title %}Détail d'un poste{% endblock %}

{% block body %}
<section class="mx-5 pt-4 pt-md-3">
    <div class="container">
        <h1 class="mx-5 my-3">Détail du poste : {{ blogpost.titre }}</h1>
        <div class="row align-items-center  mx-5 py-3 border-top border-bottom">
            <div class="col-auto">
                <div class="col-ms-n5">
                    <time class="text-muted">
                        Publié le {{ blogpost.createdAt|date('d/m/Y') }}
                    </time>
                </div>
            </div> 
        </div>
    </div>
</seciton>

<section class="mx-5 pt-4 pt-md-3">
    <div class="container">
        <div class="row justify-content-center">
            <div class="py-4">
                <p class="mx-5 mb-3">
                    {{ blogpost.contenu }}
                </p>
            </div>
        </div>
    </div>
</section>

{% include "commentaire/form.html.twig" %}
{% include "commentaire/commentaires.html.twig" %}
{% endblock %}
