<section class="my-5">
    <div class="container mb-2 px-5 bg-light">
        {% for com in commentaires %}
            <div class="row">
                <div class="col-12 col-md-10 col-lg-9 col-xl-8">
                    <div class="row gx-0">
                        <div class="card-body">
                            <p>{{ com.contenu }}</p>
                            <footer class="blockquote-footer">
                                <span class="h6 text-muted">Par {{ com.auteur }} le {{ com.createdAt|date('d/m/Y') }}</span>
                            </footer>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</section>