{% extends 'base.html.twig' %}

{% block title %}Hello ContactController!{% endblock %}

{% block body %}
    <section>
        <div class="container d-flex flex-column">
            <div>
                <img src="img/placeholer.jpg" class="d-md-none img-cover" alt="">
                <div class="d-none d-md-block vw50 h-100 float-end bg-cover" style="background-image: url(img/placeholer.jpg)"></div>
            </div>

            <div class="mx-5">
                <h2 class="my-5">Me contacter</h2>
                
                {{ form_start(form) }}
                    {% for message in app.flashes('success') %}
                        <div class="alert alert-success">
                            {{ message }}
                        </div>
                    {% endfor %}

                    {# <div class="alert alert-danger">
                        {{ form_errors(form) }}
                    </div> #}

                    <div class="form-group mb-5">
                        <label class="form-label" for="contactName">
                            {{ form_label(form.nom) }}
                        </label>
                        {{ form_widget(form.nom) }}
                    </div>

                    <div class="form-group mb-5">
                        <label class="form-label" for="contactEmail">
                            {{ form_label(form.email) }}
                        </label>
                        {{ form_widget(form.email) }}
                    </div>

                    <div class="form-group mb-5">
                        <label class="form-label" for="contactMessage">
                            {{ form_label(form.message) }}
                        </label>
                        {{ form_widget(form.message) }}
                    </div>

                    <div class="form-group mb-0">
                        {{ form_widget(form.envoyer) }}
                    </div>

                {{ form_end(form) }}
            </div>
        </div>
    </section>
{% endblock %}
